<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer" />
        <title>关于我</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
        <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}"/>
        <link rel="icon" type="image/x-icon" href="image/logo.ico" />
    </head>
    <body>
        <!-- 导航        反转-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <!--                              可堆叠的-->
                <div class="ui inverted secondary stackable menu">
                    <!--          颜色  logo  表示一个条目       -->
                    <h2 class="ui teal header item">PatrickStaR</h2>
                    <a href="#" th:href="@{/}" class="item m-mobile-hide m-item"><i class="mini home icon"></i>首页</a>
                    <a href="#" th:href="@{/blog_category}" class="item m-mobile-hide m-item"><i class="mini idea icon"></i>分类</a>
                    <a href="#" th:href="@{/blog_tag}" class="item m-mobile-hide m-item"><i class="mini tag icon"></i>标签</a>
                    <a href="#" th:href="@{/blog_archive}" class="item m-mobile-hide m-item"><i class="mini clone icon"></i>归档</a>
                    <a href="#" th:href="@{/about_me}" class="active item m-mobile-hide m-item"><i class="mini info icon"></i>关于我</a>
                    <div class="right item  m-mobile-hide m-item">
                        <form action="#" name="search_form" th:action="@{/search}">
                            <div class="ui large icon inverted transparent input">
                                <input type="text" name="target" placeholder="Search...">
                                <i onclick="document.forms['search_form'].submit()" class="search link icon"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>
        <!-- 中间内容 -->
        <div class="m-container m-padded-tb-large m-margin-top-large">
            <div class="ui container">
                <div class="ui stackable grid">
                    <!-- 左边部分：放图片 -->
                    <div class="eleven wide column">
                        <img src="https://picsum.photos/id/338/800/600" th:src="@{https://picsum.photos/id/338/800/600}" alt="" class="ui rounded image">
                    </div>
                    <!-- 右边部分：介绍 -->
                    <div class="five wide column">
                        <div class="ui top attached segment">
                            <div class="ui header">关于我</div>
                        </div>
                        <div class="ui attached segment">
                            <p class="m-text-thin m-text-spaced m-text-lined">
                                一个什么都喜欢的男生，喜欢海绵宝宝，喜欢派大星，喜欢打羽毛球，喜欢玩游戏，喜欢旅游，喜欢摄影，当然也喜欢码代码，几乎对于所有新的东西，我都无法抗拒，要是远在天涯的你也是这样的，不妨know know eachother
                            </p>
                        </div>
                        <div class="ui attached segment">
                            <div class="ui header">爱好</div>
                        </div>
                        <div class="ui attached segment">
                            <div class="ui orange basic left pointing label m-padded-tb-small m-margin-tb-tiny">编程</div>
                            <div class="ui orange basic left pointing label m-padded-tb-small m-margin-tb-tiny">所有游戏</div>
                            <div class="ui orange basic left pointing label m-padded-tb-small m-margin-tb-tiny">摄影</div>
                            <div class="ui orange basic left pointing label m-padded-tb-small m-margin-tb-tiny">旅游</div>
                            <div class="ui orange basic left pointing label m-padded-tb-small m-margin-tb-tiny">后期</div>
                        </div>
                        <div class="ui attached segment">
                            <div class="ui header">技术</div>
                        </div>
                        <div class="ui bottom attached segment">
                            <div class="ui teal basic left pointing label m-padded-tb-small m-margin-tb-tiny">JAVA</div>
                            <div class="ui teal basic left pointing label m-padded-tb-small m-margin-tb-tiny">JavaScript</div>
                            <div class="ui teal basic left pointing label m-padded-tb-small m-margin-tb-tiny">MySQL</div>
                            <div class="ui teal basic left pointing label m-padded-tb-small m-margin-tb-tiny">Redis</div>
                            <div class="ui teal basic left pointing label m-padded-tb-small m-margin-tb-tiny">RabbitMQ</div>
                        </div>
                        <div class="ui teal top attached segment">
                            <h2 class="ui header">去哪里找我？</h2>
                        </div>
                        <div class="ui attached segment">
                            <a href="https://github.com/WanglePaiDaXing" target="_blank"  class="ui circular icon button" data-inverted data-position="left center" data-tooltip="常年积灰"><i class="github black icon"></i></a>
                            <a href="#"  class="ui circular icon button" data-inverted data-tooltip="扫下面的码吧"><i class="wechat green icon"></i></a>
                            <a href="#"  class="ui circular icon button" data-inverted data-tooltip="往下面看看"><i class="qq orange icon"></i></a>
                            <a href="https://www.instagram.com/rongpaidaxing/" target="_blank"  class="ui circular icon button" data-inverted data-tooltip="Follow Me" data-position="right center"><i class="instagram pink icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部元素 -->
        <footer class="ui inverted vertical segment m-padded-tb-massive m-margin-top-big">
            <div class="ui center aligned container">
                <!-- 将网页分成16份，bootstrap分成12份 -->
                <div class="ui inverted divided stackable grid">
                    <!-- 占三份，填满，一列 -->
                    <div class="three wide column">
                        <div class="item ">
                            <img src="../static/image/wechat_qrcode.jpg" th:src="@{/image/wechat_qrcode.jpg}" class="ui rounded image centered aligned m-img-style" alt="QRCODE">
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                        <div class="ui inverted link list">
                            <a th:each="blog : ${latestBlog}" th:href="@{/blog_detail(id=${blog.id})}" href="#" class="item" th:text="${blog.title}">用户故事（User Story）</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                        <div class="ui inverted link list">
                            <a class="item" style="cursor: default">Email: abc6339139@vip.qq.com</a>
                            <a class="item" style="cursor: default">QQ: 804217071<br>(用得少了，微信常年等CALL)</a>
                            <a class="item" style="cursor: default">WeChat: abc6339139<br>(扫旁边的码也行)</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">关于博客</h4>
                        <p class="m-opacity-massive">很高兴你能来到我的个人博客，我希望这个博客能把我所经历的一些有趣的东西，不管是技术，还是好玩的都能分享给你，你也能从中知道些得到些什么，或许有时候也能给你的困惑一点帮助，我会十分开心的！前面是我的个人微信，可以联系我，很高兴和你称为朋友！</p>
                    </div>
                </div>
                <!-- 分割线 -->
                <div class="ui inverted section divider"></div>
                <p class="m-margin-top-big m-text-thin m-text-spaced m-opacity-mini">Copyright @ 2019 PatrickStaR Designed by PatrickStaR</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script>
            $('.menu.toggle').click(function () {
                $('.m-item').toggleClass('m-mobile-hide');
            });
        </script>
    </body>
</html>