<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer" />
        <title>分类</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
        <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}"/>
        <link rel="icon" type="image/x-icon" href="image/logo.ico" />
    </head>
    <body>
        <!-- 导航        反转-->
        <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <!--                              可堆叠的-->
                <div class="ui inverted secondary stackable menu">
                    <!--          颜色  logo  表示一个条目       -->
                    <h2 class="ui teal header item">PatrickStaR</h2>
                    <a href="#" th:href="@{/}" class="item m-mobile-hide m-item"><i class="mini home icon"></i>首页</a>
                    <a href="#" th:href="@{/blog_category}" class="active item m-mobile-hide m-item"><i class="mini idea icon"></i>分类</a>
                    <a href="#" th:href="@{/blog_tag}" class="item m-mobile-hide m-item"><i class="mini tag icon"></i>标签</a>
                    <a href="#" th:href="@{/blog_archive}" class="item m-mobile-hide m-item"><i class="mini clone icon"></i>归档</a>
                    <a href="#" th:href="@{/about_me}" class="item m-mobile-hide m-item"><i class="mini info icon"></i>关于我</a>
                    <div class="right item  m-mobile-hide m-item">
                        <form action="#" name="search_form" th:action="@{/search}">
                            <div class="ui large icon inverted transparent input">
                                <input type="text" name="target" placeholder="Search...">
                                <i onclick="document.forms['search_form'].submit()" class="search link icon"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>
        <!-- 中间内容 -->
        <div class="m-container-small m-padded-tb-large ">
            <div class="ui container">
                <!-- 博客头 -->
                <div class="ui top attached segment">
                    <div class="ui middle two column grid">
                        <div class="column">
                            <h3 class="ui teal header">分类</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-text-thin" style="display: inline-block" th:text="${allCategory.size()}">14</h3> 个
                        </div>
                    </div>
                </div>
                <!-- 当前选择的分类id -->
                <input type="hidden" class="hidden_current_category" th:value="${currentCategory}"/>
                <!-- 分类 -->
                <div class="ui bottom attached segment m-margin-tb-tiny m-padded-tb-large">
                    <div th:each="category : ${allCategory}" class="ui labeled button">
                        <a th:id="${category.id + 'category'}" href="#" class="ui basic button a_change_category" th:value="${category.id}" th:text="${category.name}" th:href="@{/category_blog(id=${category.id})}">思考与感悟</a>
                        <div class="ui basic left pointing label" th:text="${category.blogs.size()}">24</div>
                    </div>
                </div>

                <div class="ui segment teal">
                    <div th:if="${indexPage.size()} eq 0">
                        <h2 class="ui center header">暂无博客</h2>
                    </div>
                    <div th:each="blog : ${indexPage}" class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog_detail(id=${blog.id})}" th:text="${blog.title}" class="m-black">谁的青春没有眼泪？</a></h3>
                                <p class="m-text" th:text="${blog.describe}">人的一生总有很多回忆是挥之不去的，青春的记忆就像五彩斑斓的花束，散发着淡雅的馨香，我曾小心翼翼地将它们修剪成干枝夹在《繁星诗集》里陈放多年。是昨夜的雷雨扰我无法入梦，才让我不经意间看到了这些文字，读着读着这些文字变得不安生起来，它们硬生生地将我拉回到了中考那年</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt="用户头像" class="ui avatar image">
                                                <div class="content">
                                                    <a class="header">王荣臻</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> <span th:text="${blog.modifyTime}">2019-10-27</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${blog.viewCount}">2344</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <a th:each="tag : ${blog.tags}" href="#" class="ui basic teal left pointing label m-padded-mini m-text-thin-large" th:text="${tag.name}" th:href="@{/tag_blog(id=${tag.id})}">方法论</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-padded-tb-mini m-text-thin" th:text="${blog.belongCategory.name}" th:href="@{/category_index/category_blog(id=${blog.belongCategory.id})}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/10/800/500" th:src="${blog.cover}" alt="图片" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 下一页的页码 -->
                <input id="next_page" type="hidden" th:value="${nextPage}"/>
                <!-- 上一页的页码 -->
                <input id="prev_page" type="hidden" th:value="${prevPage}"/>
                <!-- 当前的页码 -->
                <input id="current_page" type="hidden" th:value="${currentPage}"/>
                <!-- 底部 -->
                <div class="ui bottom attached segment">
                    <div class="ui center aligned two column grid m-padded-tb-tiny">
                        <!-- 分页 -->
                        <div class="ui pagination menu">
                            <a href="#" class="icon item prev_page_item">
                                <i class="left chevron icon"></i>
                            </a>
                            <a th:id="${page}" th:each="page : ${#numbers.sequence(1, pageNum)}" th:value="${page}" href="#" class=" item page_item" th:href="@{/page(requirePage=${page},type=category)}" th:text="${page}">1</a>
                            <a href="#" class="icon item next_page_item">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部元素 -->
        <footer class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <!-- 将网页分成16份，bootstrap分成12份 -->
                <div class="ui inverted divided stackable grid">
                    <!-- 占三份，填满，一列 -->
                    <div class="three wide column">
                        <div class="item ">
                            <img src="../static/image/wechat_qrcode.jpg" th:src="@{/image/wechat_qrcode.jpg}" class="ui rounded image centered aligned m-img-style" alt="QRCODE">
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                        <div class="ui inverted link list">
                            <a th:each="blog : ${latestBlog}" href="#" class="item" th:href="@{blog_detail/(id=${blog.id})}" th:text="${blog.title}">用户故事（User Story）</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                        <div class="ui inverted link list">
                            <a class="item" style="cursor: default">Email: abc6339139@vip.qq.com</a>
                            <a class="item" style="cursor: default">QQ: 804217071<br>(用得少了，微信常年等CALL)</a>
                            <a class="item" style="cursor: default">WeChat: abc6339139<br>(扫旁边的码也行)</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">关于博客</h4>
                        <p class="m-opacity-massive">很高兴你能来到我的个人博客，我希望这个博客能把我所经历的一些有趣的东西，不管是技术，还是好玩的都能分享给你，你也能从中知道些得到些什么，或许有时候也能给你的困惑一点帮助，我会十分开心的！前面是我的个人微信，可以联系我，很高兴和你称为朋友！</p>
                    </div>
                </div>
                <!-- 分割线 -->
                <div class="ui inverted section divider"></div>
                <p class="m-margin-top-big m-text-thin m-text-spaced m-opacity-mini">Copyright @ 2019 PatrickStaR Designed by PatrickStaR</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script>
            $('.menu.toggle').click(function () {
                $('.m-item').toggleClass('m-mobile-hide');
            });
            $(function () {
                //判断当前所在的是哪一页
                $('#' + $('#current_page').val()).addClass('active').css('cursor', 'default').removeAttr('href');
                //若当前是最后一页，后翻按钮取消点击事件
                if($('#next_page').val() == ''){
                    $('.prev_page_item').attr('href', '/page?requirePage=' + $('#prev_page').val());
                    $('.next_page_item').css('cursor', 'default').removeAttr('href');

                }
                //若当前是第一页，前翻按钮取消点击事件
                if($('#prev_page').val() == ''){
                    $('.next_page_item').attr('href', '/page?requirePage=' + $('#next_page').val());
                    $('.prev_page_item').css('cursor', 'default').removeAttr('href');
                }
                //若在中间页面，则前后翻按钮都存在
                if($('#prev_page').val() != '' && $('#next_page').val() != ''){
                    $('.prev_page_item').attr('href', '/page?requirePage=' + $('#prev_page').val());
                    $('.next_page_item').attr('href', '/page?requirePage=' + $('#next_page').val());
                }
                //若只有一页，则前后翻按钮都失效
                if($('#prev_page').val() == '' && $('#next_page').val() == ''){
                    $('.prev_page_item').css('cursor', 'default').removeAttr('href');
                    $('.next_page_item').css('cursor', 'default').removeAttr('href');
                }
                $('#' + $('.hidden_current_category').val() + 'category').addClass('teal').siblings('.label').addClass('teal');
                if($('.a_change_category').hasClass('teal')){
                    $('.page_item').on('click',function () {
                        if(!$(this).hasClass('active')){
                            $(this).attr('href', '/page?requirePage=' + $(this).text() + '&type=category&id=' + $('.hidden_current_category').val());
                        }
                    });
                    if($('#prev_page').val() != ''){
                        $('.prev_page_item').click(function () {
                            $(this).attr('href', '/page?type=category&requirePage=' + $('#prev_page').val() + '&id=' + $('.hidden_current_category').val())
                        });
                    }
                    if($('#next_page').val() != ''){
                        $('.next_page_item').click(function () {
                            $(this).attr('href', '/page?type=category&requirePage=' + $('#next_page').val() + '&id=' + $('.hidden_current_category').val());
                        })
                    }
                }
            });
            //若点击的是已经选中的分类，则返回全部博客
            $('.a_change_category').on('click', function () {
                if($(this).hasClass('teal')){
                    $(this).attr('href', '/blog_category');
                }
            });
        </script>
    </body>
</html>